.add-resort-container {
    margin: 20px 0;
}

.add-resort-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-resort-container form input,
textarea {
    width: 60%;
    margin-top: 15px;
    padding: 3px 10px;
    border-bottom: 2px solid #f0c169 !important;
    height: 45px;
}

.add-resort-container form textarea {
    border-bottom: 2px solid #f0c169 !important;
}

.field:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.add-resort-container form :nth-child(8) {
    background-color: #f0c169;
    color: #fff;
}